* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background:
    linear-gradient(
      to bottom,
      #0b6680 0%,
      #075064 20%,
      #073c50 45%,
      #062d3d 70%,
      #041d2a 100%
    );

  background-attachment: fixed;

  color: white;
}

#root {
  min-height: 100vh;
}